
<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  input.form-control,
  select.form-control {
    height: 42px !important;
    font-size: 14px;
  }

  .input-group .input-group-text {
    min-width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
  }

  .alertRedColor {
    color: red;
    font-size: 13px;
  }
</style>

<div class="row" style="padding-top: 7%; padding-bottom:15%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover; width:auto; height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">
            {{'Add Order' | translate }}
          </h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">
            {{'Update Order' | translate }}
          </h2>

          <!-- Success/Error Messages -->
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          
          <div class="form-group mt-3">
            <label><b>{{'ProductName' | translate }}</b></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
              </div>
              <input type="text" name="productName" [(ngModel)]="form.data.productName" class="form-control"
                placeholder="{{'Enter productName' | translate }}">
            </div>
            <span class="alertRedColor">{{form.inputerror.productName}}</span>
          </div>

          <div>
            <span class="pt-2"><b>{{ 'OrderDate' | translate }}</b><span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
                </div>
                <input type="date" name="orderDate" [value]="form.data.orderDate | date:'yyyy-MM-dd'" (input)="form.data.orderDate = parseDate($event.target.value)" class="form-control form-control-sm" required />
              </div>
            </div>
            <span class="alertRedColor">{{ form.inputerror.orderDate }}</span>
          </div>


          <!-- Quantity -->
          <div class="form-group mt-3">
            <label><b>{{ 'Quantity' | translate }}</b><span class="required-field">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-phone grey-text"></i></div>
              </div>
              <input type="text" name="quantity" [(ngModel)]="form.data.quantity" class="form-control"
                placeholder="{{ 'Enter quantity' | translate }}" maxlength="10" (keypress)="validatePhone($event)">
            </div>
            <span *ngIf="form.inputerror.mobile" class="alertRedColor">{{ form.inputerror.quantity }}</span>
          </div>

          <!-- Product -->
          <div class="form-group mt-3">
            <label><b>{{'Customer' | translate }}</b></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-venus grey-text"></i></div>
              </div>
              <select class="form-control" name="customer" [(ngModel)]="form.data.customer">
                <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                <option value="High">{{'bharti' | translate }}</option>
                <option value="Medium">{{'mahi' | translate }}</option>
                <option value="Low">{{'Muskan' | translate }}</option>
              </select>
            </div>
            <span *ngIf="form.inputerror.decease" class="alertRedColor">
              {{'Enter customer' | translate}}
            </span>
          </div>

          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>
            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>

            <div class="pl-3 pt-2">
              <button (click)="forward('/orderlist')" class="btn btn-md btn-warning">
                {{'List' | translate }}</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
